*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    text-align: center;
}

.navbar{
    background-color: #081b31;
    height: 5rem;
    color: white;
    line-height: 5rem;
}
.gesture{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
    width: 35rem;
    margin: auto;
}

img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
 img:hover{
    border: .5rem black solid;
    cursor: pointer;
 }
.winning-count{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    margin: auto;
    margin-top: 3rem;
    
}

.counting{
    font-size: 3rem;
}

.txt{
    font-size: 1.5rem;
}

.btn{
    background-color: black;
    width: auto;
    height: auto;
    color: white;
    margin-top: 3.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 0.9rem;
}

